{% extends 'base.html.twig' %}

{% block title %}New Oferta{% endblock %}

{% block body %}
    <h1>Create new Oferta</h1>

    {{ include('oferta/_form.html.twig') }}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('oferta_index') }}">Back to list</a>
    {% endif %}
    {% if is_granted('ROLE_EMPRESA') %}
        <a href="http://labs.iam.cat/~a18jorgornei/projecte3/frontV3/">Back to web</a>
    {% endif %}

    {% if is_granted('ROLE_EMPRESA') %}
    <h3 class="mt-3">Totes les Teves Ofertes</h3>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Titol</th>
            <th>Descripcio</th>
            <th>DataPublicacio</th>
            <th>Ubicacio</th>
            <th>Estat</th>
        </tr>
        </thead>
        <tbody>
        {% for ofertum in ofertes %}
            <tr>
                <td>{{ ofertum.id }}</td>
                <td>{{ ofertum.titol }}</td>
                <td>{{ ofertum.descripcio }}</td>
                <td>{{ ofertum.dataPublicacio ? ofertum.dataPublicacio|date('Y-m-d') : '' }}</td>
                <td>{{ ofertum.ubicacio }}</td>
                <td>{{ ofertum.estat }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Success!</strong> {{ message }}
        </div>
    {% endfor %}
{% endblock %}
