<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/" class="navbar-brand text-info">Home</a>
        <a href="http://labs.iam.cat/~a18jorgornei/projecte3/frontV3/" class="navbar-brand text-warning">Borsa Treball</a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="/oferta" class="navbar-brand">Ofertes</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="/categoria" class="navbar-brand">Categories</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="/empresa" class="navbar-brand">Empreses</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="/candidat" class="navbar-brand">Candidats</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="/user" class="navbar-brand">Usuaris</a>
        {% endif %}
{#        <a href="/email" class="navbar-brand">Email</a>#}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-taget="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                <li class="nav-item">
                    <a href="{{ path('app_logout') }}" class="nav-link">Logout</a>
                </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('app_login') }}" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_register') }}" class="nav-link">Register</a>
                    </li>
                {% endif %}

{#                <li class="nav-item">#}
{#                    <a href="{{ path('concerts_index') }}" class="nav-link">Home</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a href="{{ path('concerts_new') }}" class="nav-link">Nou Concert</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a href="{{ path('ciutats_new') }}" class="nav-link">Nova Ciutat</a>#}
{#                </li>#}
            </ul>
        </div>
    </div>
</nav>